.card {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: 5px;
  background-color: yellow;
  border: 5px solid black;
}
#teamRebel {
  margin-left: 5%;
}
#choose {
  margin-left: 28%;
}
#teamRebel:hover {
  cursor: pointer;
}
#teamEmpire:hover {
  cursor: pointer;
}
#teamEmpire {
  margin-left: 43%;
}
#titleScreen {
width: 1200px;
height: 300px;
  margin-left: 5%;
  margin-top: 50px;
  text-shadow: 0px 0px 10px yellow;
  font-size: 2em;
text-align: center;
}

#turnOne{
  height: 50px;
  width: 200px;
  -ms-transform: rotate(13deg); /* IE 9 */
    -webkit-transform: rotate(13deg); /* Chrome, Safari, Opera */
    transform: rotate(13deg);
}
#turnTwo{
  -ms-transform: rotate(13deg); /* IE 9 */
    -webkit-transform: rotate(13deg); /* Chrome, Safari, Opera */
    transform: rotate(13deg);
  height: 50px;
  width: 200px;
}
#startBtn {
  margin-top: 70px;
  margin-left: 5%;
margin-right: 470px;

}
#saber {
  margin-top: -18px;
  opacity: 1;
  position: absolute;
  margin-left: 390px;
  z-index: 1;
}

#saber:hover {
  cursor: pointer;
}
#start:hover {
  cursor: pointer;
}

html {
  background: url(images/space.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Stalinist One', cursive;
}
#gameBody {
  height: 300px;
  width: 1150px;
  margin-left: 10%;
  margin-top: -50px;
}


.card img {
width: 50px;
height: 50px;
opacity: 0;
}
#startBtn h3 {
  margin-left: 558px;
  margin-top: -30px;
  z-index: 2;
  position: relative;
  text-shadow: 0 0 5px yellow;
}
#rebelPoints {
display: inline-block;
  width: 300px;
  height: 200px;
}
#empirePoints {
width: 300px;
height: 200px;
display: inline-block;
margin-left: 500px;
}
#empirePoints h2 {
  text-shadow: 0 0 5px yellow;
}
#rebelPoints h2 {
  text-shadow: 0 0 5px yellow;
}
#pointKeeper {
  margin-top: 100px;
  width: 1200px;
  height: 200px;
}
#rebelMatches {
 text-shadow: 0 0 5px yellow;
}
#empireMatches {
 text-shadow: 0 0 5px yellow;
}
#gameOver {
  height: 300px;
  width: 1100px;
  background-color: black;
  box-shadow: 0 0 15px yellow;
  position: fixed;
  margin-top: 100px;
  margin-bottom: 20px

  }

  #gameOver h1 {
    text-align: center;
    text-shadow: 0 0 5px yellow;
  }

#gameOver a {
  text-align: center;
  text-shadow: 0 0 5px yellow;
  text-decoration: none;
}
